:root
{
    --sky-top: #86D5FF;
    --sky-bottom: #CFEFFF;
    --grass: #6AC46A;
    --grass-dark: #4AA64A;
}

*
{
    box-sizing: border-box;
    touch-action: manipulation;
}

html, body
{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
}

#scene
{
    position: relative;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
}

#frogs, #bees, #balloons
{
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.overlay
{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.6);
    color: #333;
    font-size: 40px;
    font-weight: 700;
    z-index: 100100;
    flex-direction: column;
}

.overlay.hidden
{
    display: none;
}

.bee
{
    --bee-size: 1;
    position: absolute;
    width: calc(10dvh * var(--bee-size));
    height: calc(10dvh * var(--bee-size));
    background-size: contain;
    background-image: url(imgs/bee.svg);
    background-repeat: no-repeat;
    background-position: center;
    will-change: transform;
    pointer-events: none;
    z-index: 100003;
}

.frog
{
    --frog-size: 1;
    position: absolute;
    width: calc(6dvh * var(--frog-size));
    height: calc(6dvh * var(--frog-size));
    background-size: contain;
    background-image: url(imgs/frogIdle.png);
    background-repeat: no-repeat;
    background-position: center;
    transform-origin: center bottom;
    will-change: transform;
    pointer-events: none;
    filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.18));
}

.frogCroak
{
    background-image: url(imgs/frogCroak.png);
}

.balloon
{
    --balloon-size: 1;
    position: absolute;
    width: calc(15dvh * var(--balloon-size));
    height: calc(15dvh * var(--balloon-size));
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform-origin: center bottom;
    will-change: transform;
    pointer-events: none;
    z-index: 100004;
}

.balloon::after
{
    content: "";
    position: absolute;
    width: 4px;
    height: 50%;
    background: rgba(100, 60, 20, 0.6);
    left: 50%;
    top: 75%;
    transform: translateX(-50%);
    border-radius: 999px;
}

.secondHeader
{
    font-size: 0.5em;
    color: gray;
}

.background
{
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.sky
{
    width: 100%;
    height: 30%;
    background: url(imgs/Sky.png) repeat;
    z-index: -100000;
}

.sun
{
    background: url(imgs/Sun.png);
}

.cloud0
{
    background: url(imgs/Cloud0.png);
}

.cloud1
{
    background: url(imgs/Cloud1.png);
}

.cloud2
{
    background: url(imgs/Cloud2.png);
}

.ground
{
    width: 100%;
    height: 70%;
    background: url(imgs/Ground.png) repeat;
    display: flex;
    flex-direction: column;
    z-index: -100000;
}

.groundTop
{
    width: 100%;
    height: 29%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tree
{
    background: url(imgs/Tree.png);
}

.groundMiddle
{
    width: 100%;
    height: 28%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hive
{
    background: url(imgs/Hive.png);
}

.flower0
{
    background: url(imgs/Flower0.png);
}

.flower1
{
    background: url(imgs/Flower1.png);
}

.flower2
{
    background: url(imgs/Flower2.png);
}

.grass0
{
    background: url(imgs/Grass0.png);
}

.grass1
{
    background: url(imgs/Grass1.png);
}

.grass2
{
    background: url(imgs/Grass2.png);
}

.groundBottom
{
    width: 100%;
    height: 43%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lake
{
    background: url(imgs/Lake.png);
}

.waterLily
{
    background: url(imgs/WaterLily.png);
    display: flex;
    align-items: center;
    justify-content: center;
}

.lily
{
    background: url(imgs/Lily.png);
}

.backgroundSprite
{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 100%;
    position: absolute;
}

.anchor
{
    position: absolute;
}